<title>Conditions</title>
</head>
<body>
<div class = "row">
    <div class = "col-md-offset-5 col-md-3">
        <div class = "page-header">
            <h1>Conditions</h1>
        </div>
        <form>
            <div class="checkbox" name = "condition" value = "RE_LLC">
                <label>
                    <input type="checkbox"> RE_LLC
                </label>
            </div>
            <div class="checkbox" name = "condition" value = "RE_LCL">
                <label>
                    <input type="checkbox"> RE_LCL
                </label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
</body>
</html>